.addSection{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addData{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    height: 25rem;
    border-radius: 20px 0px 20px 0px;
    background-color: #f9fafb;
    justify-content: center;
}
.formControl{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}
.addtitle{
    background: linear-gradient(to right, rgb(92, 82, 221) 0%, rgb(36, 196, 228) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 15px;
    font-size: 26px;
}
   
.formControl input{
    outline: none;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 8px 10px;
    width: 20rem;
    height: 2.5rem;
    margin-bottom: 10px;
}
.formControl input:focus{
    border: 2px solid #7c3aed;
}
.addContact{
    cursor: pointer;
    border: none;
    outline: none;
    width: 10rem;
    height: 33px;
    padding: 6px 20px;
    margin-top: 30px;
    color: #fff;
    background: linear-gradient(90deg,
    rgba(121, 113, 236, 1) 0%,
    rgba(142, 142, 255, 1) 50%,
    rgba(104, 177, 251, 1) 80%,
    rgba(32, 217, 255, 1) 100%);
    border-radius: 20px;
    font-size: 14px
}