.editSection{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerDetail{
    height: 8rem;
    background-color: #e5e7eb77;
    border-radius: 10px 10px 0px 0px;
}
.contactDetail{
    width: 30rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    background-color: #f9fafb;
    border-radius: 0px 0px 10px 10px;
}
.contactDetail p{
    margin-bottom: 30px;
    border: 1px solid #ccc;
    width: 23rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.contactDetail button{
    cursor: pointer;
    border: none;
    outline: none;
    width: 10rem;
    height: 35px;
    padding: 6px 20px;
    margin-top: 20px;
    color: #fff;
    background: linear-gradient(90deg,
    rgba(121, 113, 236, 1) 0%,
    rgba(142, 142, 255, 1) 50%,
    rgba(104, 177, 251, 1) 80%,
    rgba(32, 217, 255, 1) 100%);
    border-radius: 20px;
    font-size: 15px;
}
.imgProfile{
   width: 75px;
   height: 75px;
   margin-top: 88px;
   border: 3px solid white;
   border-radius: 50%
}
