.contactList{
    width: 30rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #f5f3ff;
}
.contactsData{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contactsData p{
    padding: 5px 0;
}
.contactList button{
    cursor: pointer;
    border: none;
    outline: none;
    padding: 5px 10px;
    color: red;
    background-color: #fff;
    border: 1px solid red;
    border-radius: 5px;
}
h2{
    padding: 15px 0;
    color: #444;
}
.addNewData{
    cursor: pointer;
    border: none;
    outline: none;
    padding: 5px 10px;
    color: #fff;
    background-color: #7c3aed;
    border: 1px solid #7c3aed;
    border-radius: 5px;

}
